@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@700&display=swap');

html, body {
	background-color: #000;
}

.hero {
	background: url('/components/public/BW Watertower-16.jpg');
	background-size: cover;
	background-clip: text;
	color: transparent;
	-webkit-background-clip: text;
	font-family: 'Oswald', sans-serif;
}

.name {
	font-size: 14rem;
	text-align: center;
	margin: 75px 0 0 0;
}

.title {
	font-size: 9rem;
	text-align: center;
	margin: 0 0 0 0;
}