@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@700&display=swap');

html, body {
	background: url('/components/public/Park Playground View2020-05-29 at 4.54.43 PM 2.JPG');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
}

.hero {
	color: #fff;
	text-shadow: 5px 5px 10px #163266;
	font-family: 'Caveat', cursive;
	margin: 0 auto;
	width: 75%;
}

.name {
	font-size: 13rem;
	font-weight: bold;
	text-align: center;
	margin: 90px 0 0 0;
}

.title {
	font-size: 5.5rem;
	text-align: right;
	margin: 10px 0 0 0;
}